<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
   <add key="baseaddress" value="http://52.11.236.231/" /> 
    <!--<add key="baseaddress" value="http://localhost:3000" /> -->
    <add key ="DefaultConnectionLimit" value="160"/>
    <add key="AcrobatReaderPath" value="C:\Program Files (x86)\Adobe\Acrobat Reader DC\Reader\AcroRd32.exe"/>
    <!--<add key="DefaultPrinterName" value="\\ipp://novblroes0006.blr.novell.com\7Flr_Printer2"/>-->
    <add key="DefaultPrinterName" value="HP LaserJet Pro MFP M126nw" />
  </appSettings>
</configuration>
